{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    ["inline-import", { "extensions": [".css", ".scss"] }],
    [ "module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./components",
        "@config": "./config",
        "@containers": "./containers",
        "@helpers": "./helpers",
        "@layouts": "./layouts",
        "@store": "./store",
        "@router": "./router"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }], "@zeit/next-typescript/babel"]
    }
  }
}
